/* WEBFONT - Roboto font-size variations: 11, 12, 13, 14, 16, 18, 20, 24, 30, 36, 48, 60, 72, 90. */
@import url(//fonts.googleapis.com/css?family=Roboto:400,400italic,500,500italic,700,700italic,900,900italic,300italic,300);
@import url(/css/icons-default.css);


/* Small devices (tablets, 768px and up) */
/* @media (min-width: 768px) {} */

/* Medium devices (desktops, 992px and up) */
@media (max-width: 1320px) {}

/* Large devices (large desktops, 1200px and up) */
@media (min-width: 1320px) {}



/* GRID */
.grid-row{margin:0 -10px 10px;width: 960px;}
.grid-row:after{content:"";display:table;clear:both;}

.grid-1,.grid-2,.grid-3,.grid-4,.grid-5,.grid-6,.grid-7,.grid-8,.grid-9,.grid-10,.grid-11,.grid-12{display:inline;float:left;margin-left:10px;margin-right:10px;}

.grid-row .grid-1{width: 60px;}
.grid-row .grid-2{width: 140px;}
.grid-row .grid-3{width: 220px;}
.grid-row .grid-4{width: 300px;}
.grid-row .grid-5{width: 380px;}
.grid-row .grid-6{width: 460px;}
.grid-row .grid-7{width: 540px;}
.grid-row .grid-8{width: 620px;}
.grid-row .grid-9{width: 700px;}
.grid-row .grid-10{width: 780px;}
.grid-row .grid-11{width: 860px;}
.grid-row .grid-12{width: 940px;}

.grid-row .text-field,
.grid-row .select,
.grid-row .btn{width:100%;padding:0 5px;display:table-cell;float:left;}

.grid-row .textarea{width:100%;padding:5px;display:table-cell;float:left;}


/*Clear*/
.clear-margin{margin:0!important;}
.clear-padding{padding:0!important;}
.clear-border{border:0!important;}
.clear-float{float:none!important;}
.clear-width{width:auto!important;}
.clear-left{clear:left;}
.clear-right{clear:right;}
.clear-both{clear:both;}

.clear-fix:after{content:"";display:table;clear:both;width:100%;}


/* margin */
.margin-lg{margin:20px;}
.margin-top-lg, .upperfix-lg{margin-top:20px!important;}
.margin-right-lg, .suffix-lg{margin-right:20px!important;}
.margin-bottom-lg, .lowerfix-lg{margin-bottom:20px!important;}
.margin-left-lg, .prefix-lg{margin-left:20px!important;}

.margin-md{margin:15px;}
.margin-top-md, .upperfix-md{margin-top:15px!important;}
.margin-right-md, .suffix-md{margin-right:15px!important;}
.margin-bottom-md, .lowerfix-md{margin-bottom:15px!important;}
.margin-left-md, .prefix-md{margin-left:15px!important;}

.margin-sm{margin:10px;}
.margin-top-sm, .upperfix-sm{margin-top:10px!important;}
.margin-right-sm, .suffix-sm{margin-right:10px!important;}
.margin-bottom-sm, .lowerfix-sm{margin-bottom:10px!important;}
.margin-left-sm, .prefix-sm{margin-left:10px!important;}

.margin-xs{margin:5px;}
.margin-top-xs, .upperfix-xs{margin-top:5px!important;}
.margin-right-xs, .suffix-xs{margin-right:5px!important;}
.margin-bottom-xs, .lowerfix-xs{margin-bottom:5px!important;}
.margin-left-xs, .prefix.xs{margin-left:5px!important;}


/* padding */
.padding-lg{padding:20px;}
.padding-top-lg{padding-top:20px!important;}
.padding-right-lg{padding-right:20px!important;}
.padding-bottom-lg{padding-bottom:20px!important;}
.padding-left-lg{padding-left:20px!important;}

.padding-md{padding:15px;}
.padding-top-md{padding-top:15px!important;}
.padding-right-md{padding-right:15px!important;}
.padding-bottom-md{padding-bottom:15px!important;}
.padding-left-md{padding-left:15px!important;}

.padding-sm{padding:10px;}
.padding-top-sm{padding-top:10px!important;}
.padding-right-sm{padding-right:10px!important;}
.padding-bottom-sm{padding-bottom:10px!important;}
.padding-left-sm{padding-left:10px!important;}

.padding-xs{padding:5px;}
.padding-top-xs{padding-top:5px!important;}
.padding-right-xs{padding-right:5px!important;}
.padding-bottom-xs{padding-bottom:5px!important;}
.padding-left-xs{padding-left:5px!important;}





/* LAYOUT SPACINGS AND SEPARATORS */
hr{background-color:transparent;margin:0;border:0;}
.horizontal-line-default{border-top:5px solid #ddd;}
.horizontal-line-primary{border-top:2px solid #ddd;}
.horizontal-line-secondary{border-top:1px solid #ddd;}

.horizontal-spacing-default{height:60px;}
.horizontal-spacing-primary{height:40px;}
.horizontal-spacing-secondary{height:30px;}


.inline-group{display:inline-table;width:100%;white-space:nowrap;}
.color-hover-off:hover{color: initial !important;}

.group-icon{width:auto;white-space:nowrap;display:table-cell;vertical-align:middle;border-right:0;border-collapse:collapse;}
.group-icon+input{white-space:nowrap;}








/* BACKGROUND COLORS */
.bg-default{background-color:#393939 !important;}
.bg-primary{background-color:#E53935 !important;}
.bg-secondary{background-color:#bbb !important;}
.bg-info{background-color:#666 !important;}
.bg-warning{background-color:#ffb413 !important;}
.bg-active{background-color:#777 !important;}
.bg-disabled{background-color:#ddd !important;}
.bg-success{background-color:#6cc !important;}
.bg-danger{background-color:#f33 !important;}
.bg-dark{background-color:#121212 !important;}
.bg-light{background-color:#fafafa !important;}
.bg-white{background-color:#fff !important;}
.noimg{background:#ddd;}


/* BORDER COLORS */
.bd-default{border-color: #393939 !important;}
.bd-primary{border-color: #E53935 !important;}
.bd-secondary{border-color: #bbb !important;}
.bd-info{border-color: #666 !important;}
.bd-warning{border-color: #ffb413 !important;}
.bd-active{border-color: #777 !important;}
.bd-disabled{border-color: #ddd !important;}
.bd-success{border-color: #6cc !important;}
.bd-danger{border-color: #f33 !important;}
.bd-light{border-color: #fafafa !important;}
.bd-white{border-color: #fff !important;}

/* BORDER SIZES */
.bd-lg{border-width: 5px;}
.bd-md{border-width: 3px;}
.bd-sm{border-width: 2px;}
.bd-xs{border-width: 1px;}

/* BORDER STYLES */
.bd-solid{border-style:solid;}
.bd-dashed{border-style:dashed;}
.bd-dotted{border-style:dotted;}

.bd-radius-xs{border-radius: 3px;}



/* TEXT COLORS */
.text-default{color:#393939 !important;}
.text-primary{color:#E53935 !important;}
.text-secondary{color:#bbb !important;}
.text-info{color:#666 !important;}
.text-warning{color:#ffb413 !important;}
.text-active{color:#777 !important;}
.text-disabled{color:#ddd !important;}
.text-success{color:#6cc !important;}
.text-danger{color:#f33 !important;}
.text-light{color:#fafafa !important;}
.text-white{color:#fff !important;}

.text-description{color:#888;font-size:13px;display:inline-block;}



/* TEXT STYLES */
.bold{font-weight:bold;}
.italic{font-style:italic;}
.underline{text-decoration:underline;}
.underline:hover{text-decoration:underline;}
.uppercase{text-transform:uppercase;}
.lowercase{text-transform:lowercase;}
.weight-normal{font-weight: normal!important;}
.weight-medium{font-weight: 500!important;}



/* TITLES */
.title-default{color:#393939;font-size:1.2em;margin:0;padding:5px 0;font-weight:500;text-transform: uppercase;}
.title-primary{color:#e53935;font-size:1em;margin:0;padding:5px 0;font-weight:500;text-transform: uppercase;}
.title-secondary{color:#393939;font-size:1em;margin:0;padding:5px 0;font-weight:500;text-transform: uppercase;}

.subtitle-default{color:#e53935;font-size:17px;margin:0;padding:0;font-weight:500;}
.subtitle-primary{color:#e53935;font-size:15px;margin:0;padding:0;font-weight:500;}
.subtitle-secondary{color:#777;font-size:13px;margin:0;padding:0;font-weight:500;}



/* NOTIFICATION */
.note{background-color:#fff;width:100%;padding:10px;display:table;position:relative;vertical-align:middle;/* border-width:1px;border-style:solid;border-color:#ddd; */box-shadow:0 0 5px 0 rgba(0,0,0,.1);border-radius:3px;}
.note:after{content:"";display:table;clear:both;}
.note-text{color:#666;font-size:13px;margin:0;line-height:16px;width:100%;display:table-cell;vertical-align: middle;}






/* FORM ELEMENTS */
form{border:0;padding:0;margin:0;}

label{color:#393939;font-size:14px;display:inline-block;}

fieldset{border:0;padding:0;margin:0;}


input[type="text"],
input[type="password"]{font-size:13px;border:1px solid #ddd;padding:0 5px;}
select{font-size:13px;border:1px solid #ddd;padding:0 5px;display:table-cell;}
textarea{font-size:13px;border:1px solid #ddd;padding:10px 5px;min-width:200px;min-height:100px;}

input[type="radio"],
input[type="checkbox"]{margin:0;padding:0;position:relative;top:2px;}

input[type="button"],
input[type="submit"],
input[type="reset"]{}

input[disabled],
select[disabled]{background-color:#f6f6f6;color:#bbb;}
input[readonly]{background-color:#fafafa;}

.form{}

.legend{color:#888;font-size:11px;padding-left:4px;}

.label{color:#666;}
.label-text{font-size:13px;font-weight:500;margin-bottom:5px;display:block;}

.text-field-100{width:100%;padding:0 10px;display:table-cell;float:left;}
.text-field-lg{height:32px;line-height:32px;}
.text-field{height:32px;line-height:32px;}
.text-field-sm{height:24px;line-height:24px;}
.input-lg{}
.input-sm{}

.select-100{width:100%;}
.select-lg{font-size:13px;width:100%;height:24px;line-height:24px;}
.select{height:32px;line-height:32px;}
.select-sm{font-size:13px;width:100%;height:24px;line-height:24px;}

.textarea{}
.textarea-sm{font-size:12px;width:100%;min-height:40px;height:60px;}



/* radio and checkbox */
.label-radio,
.label-checkbox{margin-right:10px;cursor:pointer;}

.radio{cursor:pointer;}
.radio-list{margin:0;padding:0;}
.radio-item{}
.radio-item-text{margin-left:4px;display:inline-block;cursor:pointer;}

.radio-list-vertical{margin:0;padding:0;}
.radio-list-vertical .radio-item{}

.radio-list-horizontal{margin:0;padding:0;}
.radio-list-horizontal .radio-item{display:inline-block;margin-right:10px;cursor:pointer;}


.checkbox{cursor:pointer;}
.checkbox-list{}
.checkbox-item{}
.checkbox-item-text{margin-left:4px;display:inline-block;}

.checkbox-list-vertical{}
.checkbox-list-vertical .checkbox-item{}

.checkbox-list-horizontal{}
.checkbox-list-horizontal .checkbox-item{}






/* BUTTONS */
.btn{font-size:14px;padding:0 10px;line-height:32px;height:32px;margin:0;border-width:0;display:inline-block;text-align:center;text-transform:uppercase;border-radius:3px;transition:all 200ms ease-in-out;cursor:pointer;vertical-align:middle;}
.btn-lg{font-size:18px;line-height:35;height:35px;}
.btn-sm{font-size:12px;line-height:24px;height:24px;text-transform: none;}
.btn-xs{font-size:10px;line-height:20px;height:20px;text-transform:uppercase;}

input[disabled].btn:hover{background-color:#f3f3f3;box-shadow: none;cursor:not-allowed;}



.btn-default{background-color:#393939;color:#fff;font-weight:500;}
.btn-default:hover{background-color:#666;box-shadow:0px 1px 1px 0px rgba(0, 0, 0, 0.21);}
.btn-default:active{background-color:#393939;box-shadow:inset 0px 0px 6px 0px rgba(0, 0, 0, 0.12);}

.btn-primary{background-color:#E53935;color:#fff;font-weight:500;}
.btn-primary:hover{background-color:#f33;box-shadow:0px 1px 1px 0px rgba(0, 0, 0, 0.21);}
.btn-primary:active{background-color:#e53935;box-shadow:inset 0px 0px 6px 0px rgba(0, 0, 0, 0.12);}

.btn-secondary{background-color:#bbb;color:#fff;font-weight:500;}
.btn-secondary:hover{background-color:#ccc;box-shadow:0px 1px 1px 0px rgba(0, 0, 0, 0.21);}
.btn-secondary:active{background-color:#bbb;box-shadow:inset 0px 0px 6px 0px rgba(0, 0, 0, 0.12);}

.btn-link{background:transparent;color:#393939;cursor:pointer;display:inline-block;vertical-align:middle;border:0;padding:0;font-weight:500;}
.btn-link:hover{color:#ff3333;}
.btn-link:active{color:#e53935;}



/* TABLES */
.table-layout-fixed{table-layout:fixed;}
.table{background-color:#fff;color:#595959;font-size:14px;width:100%;border-collapse:collapse;border-spacing: 0;border:0;vertical-align:middle;}
.table td{padding:0 10px;}

.table-caption{background:#393939;color:#fff;line-height:40px;height:40px;font-size:20px;font-weight:bold;border:0;}


/* table header */
.table-header{color:#393939;font-size: 13px;font-weight: 500;text-transform:uppercase;border-left: 0;border-right: 0;}
.table-header > tr > td{height:40px;white-space: nowrap;border-bottom:2px solid #777;}

/* table body */
.table-body{border:1px solid #ddd;border-left: 0;border-right: 0;border-top:0;font-size:13px;}
.table-body > tr > td{padding:10px;transition:all 200ms ease-in-out;border-bottom:1px solid #f0f0f0;}
.table-body > tr + tr td{border-top:1px solid #f3f3f3;}

/* table footer */
.table-footer{background:#f0f0f0;border:1px solid #efefef;border-left:0;border-right:0;border-bottom:1px solid #eaeaea;}
.table-footer > tr > td{}


.row-stripe-fx > tr:hover > td{background:#ffffeb;/* border-bottom:1px solid #eee; */}
.row-stripped > tr:nth-child(odd),
.col-stripped > tr > td:nth-child(odd){background:#fafafa;}
.row-fx-off:hover > td{background:inherit !important;}



/* TAGS */
.tag{background:#fff;display:inline-block;cursor:default;text-shadow:0 1px 1px rgba(0,0,0,.1);}
.tag-lg{font-size:15px;padding:3px 8px;border-radius:3px;}
.tag-md{font-size:12px;padding:1px 8px;border-radius:2px;}
.tag-sm{font-size:9px;padding:0 4px;line-height:14px;border-radius:2px;}



/* BREADCRUMBS */
.breadcrumbs{background-color:#fff;margin:0;padding:12px;font-size:13px;}
.breadcrumbs .separator{color:#bbb;padding:0 5px;}
.breadcrumbs .alink{color:#393939;padding:2px 0;text-decoration: none;border-bottom:1px solid transparent;transition:color 500ms, border 500ms;}
.breadcrumbs .alink:hover{border-bottom:1px solid #eee;}
.breadcrumbs .actual{color:#E53935;border-bottom:1px solid transparent;}



/* PAGINATION */
.pagination{line-height:35px;}
.pagination:after{content:"";display:table;clear:both;}

.page-resume{font-size:11px;float:left;}
.page-resume .separator{}

.pagination-icon{background: url('/img/sprite-pagination.png') no-repeat;}

.pages{vertical-align:middle;float:right;}

.page-controls{display:inline-block;}
.page-controls a{line-height:24px;display:inline-block;transition:all 200ms ease-in-out;}

.more-pages{padding:0 5px;display:inline-block;}

.prev-page{background-position:0 0;width:6px;height:12px;padding:0;vertical-align:middle;margin-left:10px;}
.next-page{background-position:-8px 0;width:6px;height:12px;padding:0;vertical-align:middle;margin-right:10px;}
.first-page,
.last-page{color:#393939;font-size:16px;font-weight:500;font-variant:small-caps;padding:0 5px;text-shadow:1px 1px 1px #eee;}

.page{color:#393939;font-size:12px;font-weight:700;padding:0 5px;text-decoration:none;text-align:center;min-width:26px;transition:all 500ms;display:inline-block;line-height:24px;border-radius:3px;}
.page:hover{background:#fafafa;}


.actual-page{background:#fff;color:#E53935;}
.disabled-page{color:#f4f4f4;}



/* ALIGNMENTS */
.align-left{text-align:left;}
.align-center{text-align:center;}
.align-right{text-align:right;}

.valign-top{vertical-align:top;}
.valign-middle{vertical-align:middle;}
.valign-bottom{vertical-align:bottom;}

.valign-textbottom{vertical-align: text-bottom;}

.pull-left{float:left !important;}
.pull-right{float:right !important;}




/* LISTS */
.list{margin:0;padding:0;list-style: none;}
.list .list-item{}
.list-vertical > .list-item{}
.list-horizontal > .list-item{display:inline-block;}


.list-tree{}
.list-tree .list-item{padding:2px 0;}
.list-tree > .list-item{font-weight:bold;}
.list-tree > .list-item .label-checkbox{transition:all 200ms;}
.list-tree > .list-item .label-checkbox:hover{color:#e53935;}
.list-tree > .list-item > .list-tree{padding-left:10px;}
.list-tree > .list-item > .list-tree > .list-item{font-weight:normal;}


.select-horizontal-tree{display:inline-block;vertical-align:top;position:relative;}
.icon-tree-horizontal-arrow{height:80px;border:40px solid transparent;border-left:20px solid #393939;border-right:20px solid transparent;position:absolute;top:0;right:0;bottom:0;margin:auto;}
.select-col{margin-right:40px;padding:5px;border-radius:3px;}
.select-col-last{background:#fff;text-align: center;padding:10px;vertical-align:middle;white-space: normal;}





/* SWITCH */
.switch{line-height:30px;height:30px;white-space:nowrap;}
.switch:after{content:"";display:table;clear:both;}

.switch-controller{position:relative;display:inline-block;min-width:48px;vertical-align:middle;padding:0 2px;}

.switch-bar{line-height:24px;height:24px;border-radius:3px;box-shadow:inset 0px 2px 4px 1px rgba(0,0,0,.3);position:absolute;left:0;right:0;top:0;bottom:0;margin:auto;transition:all 500ms ease;}
.switch-off{background:#393939;}
.switch-on{background:#E53935;}

.switch-dragger{background:#eee;color:#888;font-size:11px;min-width:20px;line-height:20px;height:20px;padding:0 5px;border:1px solid #ddd;border-radius:1px;position:relative;z-index:1;cursor:pointer;box-shadow:0 0 2px 2px rgba(0,0,0,.2);transition:all 500ms ease;}
.switch-dragger:hover{background:#fff;box-shadow:0px 1px 1px 0px rgba(0,0,0,.1);}
.switch-off+.switch-dragger{float:left;}
.switch-on+.switch-dragger{float:right;}

.switch-text{line-height:30px;height:30px;text-align:center;display:inline-block;margin-left:5px;}





/* ACCORDION */
.accordion{position:relative;}
.accordion-panel{}
.accordion-panel+.accordion-panel{margin-top:5px;}
.accordion-header{background:#f0f0f0;color:#393939;font-size:16px;font-weight:500;line-height:32px;display:block;padding:4px 6px 4px 10px;cursor:pointer;transition:all 200ms;}
.accordion-header:hover{background:#ddd;}
.accordion-active .accordion-header{background:#666;color:#fff;}
.accordion-content{background:#fff;font-size:14px;padding:20px 20px 40px;border:1px solid #ddd;border-top:0;display:none;}
.accordion-content:after{content:"";display:table;clear:both;}
.accordion-active .accordion-content{display:block;}



/* TAB */
.tab{position:relative;}
.tab-nav{background:#f0f0f0;margin:0;padding:0;border-bottom:2px solid #666;}
.tab-nav:after{content:"";display:table;clear:both;}
.tab-nav-item{background:#f0f0f0;color:#393939;font-size:16px;font-weight:500;line-height:40px;display:block;padding:0 40px;border-top:0px solid #f0f0f0;cursor:pointer;transition:all 200ms;float:left;cursor:pointer;box-sizing:border-box;}
.tab-nav-item:hover{background:#ddd;border-color:#ddd;}
.tab-active{background:#666;color:#fff;border-color:#e53935;border-color:#e53935;position:relative;z-index:1;box-shadow:0 0 20px 0 rgba(0,0,0,.1);}
.tab-active:hover{background:#666;color:#fff;border-color:#e53935;}
.tab-panel{background:#fff;position:relative;z-index:2;}
.tab-content{background:#fff;padding:20px 20px 40px;}
.tab-content:after{content:"";display:table;clear:both;}









*{box-sizing:border-box;}
html{height:100%;}
body{background-color:#fbfbfb;font-family: "roboto", sans-serif;min-height:100%;position:relative;min-width:1270px;}
small{font-size:85%;}
img{vertical-align:bottom;}
a{text-decoration:none;}
a:hover{text-decoration: none;transition:all 200ms ease-in-out;}
*[onclick]{cursor: pointer;}


.pointer{cursor:pointer;}

.show{display: block;}
.hidden{display: none !important;}
.invisible{visibility: hidden;}
.inline-block{display:inline-block !important;}
.table-cell{display:table-cell;}
.nowrap{white-space:nowrap;}
.absolute{position: absolute;}
.relative{position: relative;}
.img{max-width: 100%;}
.display-table{display: table;}
.block{display: block!important;}
.w100{width: 100%;}
.nowrap{white-space: nowrap;}
.transition-fast{transition:all 200ms;-moz-transition:all 200ms;-webkit-transition:all 200ms;}
.transition-normal{transition:all 400ms;-moz-transition:all 400ms;-webkit-transition:all 400ms;}
.transition-slow{transition:all 600ms;-moz-transition:all 600ms;-webkit-transition:all 600ms;}




/* [ CONTENT ESPECIFIC ] ------------------------------------------------------------------------------------ */


.modal-window{background:#fff;padding:0 10px;width:auto;min-width:auto;min-height:auto;}




header.header{background:#E53935;height:48px;border-bottom:5px solid #c00;width:100%;position:relative;box-sizing:content-box;}
header.header:after{content:"";display:table;clear:both;}

.sandwitch{margin-left:280px;padding:0 10px;}
.sandwitch:hover{background:#c00;}

.user-info{font-size:15px;height:48px;float:right;white-space: nowrap;}
.user-info a{padding:0 14px 0 10px;height:100%;float:left;transition:all 200ms;}
.user-info a:hover{background:#c00;}
.user-info a::before{content:"";display:inline-block;height:100%;width:0;vertical-align: middle;}
.user-info .separator{width:0;height:48px;border-left:1px solid #c00;vertical-align: middle;float:left;}

/* SIDEBAR MENU */
.sidebar{background-color:#fff;padding-top:10px;min-width:180px;width:14%;max-width:280px;position:absolute;left:0;top:110px;bottom:0;overflow-y:auto;border-right:1px solid #f0f0f0;}

.panel-logo{background:url(/img/logo-bg.png) no-repeat left top #E53935;display:block;width:100%;height:48px;line-height:48px;border-bottom:5px solid #c00;text-align: center;box-sizing:content-box;}
.panel-logo .logo{display:inline-block;vertical-align: middle;}

.sidebar-nav{background:#3f3f3f;text-align:center;vertical-align:middle;padding:10px 0;}

.sidebar-scroll{}
.sidebar-menu-container{max-height:100%;overflow:auto;padding:2px 0 110px 0;}
.sidebar-menu{list-style: none;margin:0;padding:0;}
.sidebar-menu .menu-item{transition:all 150ms;}
.sidebar-menu .menu-item .menu-icon{display:none;}
.sidebar-menu .menu-item+.menu-item{border-top:1px solid #333;}
.sidebar-menu .menu-item:hover{background:#494949;}
.sidebar-menu .menu-item:hover .menu-link{color:#fff;}
.sidebar-menu .active{background-color:#494949;}
.sidebar-menu .active .menu-link{color:#fff;font-weight:500;border-left:5px solid #E53935;}
.sidebar-menu .menu-link{color:#fff;font-size:14px;padding-left:15px;width:100%;min-height:48px;height:48px;display:block;position:relative;text-transform: uppercase;cursor:pointer;transition:all 150ms;}
.sidebar-menu .menu-link::before {
  content: " ";
  display: inline-block;
  height: 100%;
  width: 1%;
  vertical-align: middle;
}
.sidebar-menu .menu-link span{display:inline-block;vertical-align: middle;}


.sidebar-submenu{background:#eee;list-style: none;padding:0;display:none;}
.sidebar-submenu li{padding:0 1px 0 0;transition:all 150ms;border-left:5px solid #ddd;}
.sidebar-submenu li+li{border-top:1px solid #ddd;}
.sidebar-submenu li:hover{background-color:#fff;}
.sidebar-submenu a{color:#494949;font-size:14px;padding:12px 0;display:block;}
.sidebar-submenu a:hover{color:#E53935;}
.sidebar-submenu a span{width:84%;white-space:pre-wrap;}




.section{width:100%;}
.section:after{content:"";display:table;clear:both;}


.main-content{min-width:960px;margin-left:14%;}
.main-wrapper{padding:1% 2% 60px 2%;margin:0 auto;}
.main-wrapper:after{content:"";display:table;clear:both;}


.bounding-box{background-color:#fff;padding:5px 20px 25px;border-width:1px;border-style:solid;border-color:#e1e1e1;border-radius:3px;}
.bounding-box:after{content:"";display:table;clear:both;}


/* SIDEBAR MENU - TEMP */
.sidebar .menu_itens{font-size:11px;color:#393939;line-height:0.9;}
.sidebar .menu_itens a{font-size:11px;color:#393939;line-height:0.9;text-decoration:none;}
.sidebar .menu_itens a:hover{font-size:11px;color:#E53935;line-height:0.9;text-decoration:underline;}




/* TOOLS NAV */
.tools-nav{margin:40px 0;}
.tools-nav:after{content:"";display:table;clear:both;}
.tools-nav .box{background-color:#f4f4f4;float:left;width:330px;padding:20px;margin:0 20px 20px 0;min-height:110px;border-width:1px;border-style:solid;border-color:#ddd;}
.tools-nav .box:after{content:"";display:table;clear:both;}
.tools-nav .icon-desc-wrapper{float:left;width:230px;margin-left:10px;}
.tools-nav .icon-desc-wrapper .tool-title{font-weight:500;margin:5px 0 10px;display:inline-block;transition:all 300ms;}
.tools-nav .box:hover .icon-desc-wrapper .tool-title{color:#E53935 !important;}
.tools-nav .tool-desc{color:#393939;font-size:12px;margin:0;}



/* title nav */
.title-nav{display:inline-block;border-left:1px solid #ddd;margin-left:10px;padding-left:15px;vertical-align:text-top;}
.tool-link{background:#E53935;color:#fff;font-size:13px;font-weight:500;line-height:24px;text-decoration: none;border-radius:3px;padding:0 10px;display:table-cell;cursor:pointer;vertical-align:middle;}
.tool-link:hover{color:#fff;}
.title-nav .action-icon{background-color:transparent;display:table-cell;vertical-align: middle;float:left;margin-left:-5px;}



/* NAVBAR LOGIN */
.navbar-login{background:#f4f4f4;color:#444;margin:0 0 5px;padding:10px;font-size:14px;}
.navbar-login a{color:#E53935;font-weight:bold;cursor: pointer;border-bottom:2px solid transparent;transition:all 200ms ease-in-out;}
.navbar-login a:hover{border-bottom:2px solid #ccc;}
.navbar-login .separator{color:#bbb;padding:0 10px;}




/* HOWTO BOX */
.howto{background:#fff;margin:20px 0 0 0;padding:10px 20px 20px;box-shadow:0 0 1px 0px rgba(0,0,0,.3);}
.howto .title{}
.howto-item{width:100%;position:relative;}
.howto-item:after{content:"";display:table;clear:both;}
.howto-item+.howto-item{margin-top:10px;}

.howto-icon-holder{width:30px;text-align:center;position:absolute;top:0;bottom:0;left:0;margin:auto;}
.howto-icon-holder+.howto-text{margin-left:38px;}
.howto-icon-holder+.howto-icon-holder .howto-text{border-top:1px solid #fff}
.howto-number{background:#333;color:#fff;font-size:14px;font-weight:900;vertical-align:middle;width:24px;height:24px;line-height:24px;position:absolute;top:0;right:0;bottom:0;left:0;margin:auto;border-radius:50%;box-shadow:0 0 0px 1px rgba(0,0,0,.1);}

.howto-text{color:#444;font-size:13px;line-height:16px;width:95%;padding:10px 10px 10px 0;float:left;border-bottom:1px dashed #f0f0f0;}



/*  MODAL RELAÃ‡ÃƒO DE CATEGORIAS */
.categorias-jet{background:#f3f3f3;width:250px;height:306px;padding:0 10px;overflow-y:auto;margin-right:20px;float:left;vertical-align:top;}
.categorias-ml{background:#fff;width:930px;overflow:auto;float:left;box-sizing:border-box;vertical-align:top;}
.categorias-ml:after{content:"";display:table;clear:both;}
.categorias-jet+.categorias-ml{width:670px;}





/* [ PLUGINS ] ------------------------------------------------------------------------------------ */


.custom-scrollbar{padding:5px 0 5px 10px;}
.custom-scrollbar-x{max-width:960px;}


/* tooltipster fix for disabled inputs */
.overlay-mask{position:relative;display:table;width:100%;overflow:hidden;white-space:nowrap;table-layout: fixed;}
.overlay-mask:before{content:"";display:table;clear:both;width:100%;}
.overlay-mask::after{content:"";position:absolute;width:100%;height:100%;left:0;top:0;right:0;bottom:0;}