.icon-default{background-image: url(/img/sprite-icons-default.png);}
.icon-primary{background-image: url(/img/sprite-icons-primary.png);}
.icon-secondary{background-image: url(/img/sprite-icons-secondary.png);}

.icon-circle{border-radius:50%;}
.icon-rounded{border-radius:3px;}
.icon-add-16{background-position:-880px -448px;width:16px;height:16px;}
.icon-add-24{background-position:-624px -640px;width:24px;height:24px;}
.icon-add-32{background-position:-640px -608px;width:32px;height:32px;}
.icon-add-48{background-position:-512px -736px;width:48px;height:48px;}
.icon-add-64{background-position:-512px -576px;width:64px;height:64px;}
.icon-add-96{background-position:0px -96px;width:96px;height:96px;}
.icon-alert-16{background-position:-880px -384px;width:16px;height:16px;}
.icon-alert-24{background-position:-720px -848px;width:24px;height:24px;}
.icon-alert-32{background-position:-384px -640px;width:32px;height:32px;}
.icon-alert-48{background-position:-656px -736px;width:48px;height:48px;}
.icon-alert-64{background-position:-192px -672px;width:64px;height:64px;}
.icon-alert-96{background-position:-192px 0px;width:96px;height:96px;}
.icon-announcement-16{background-position:-880px -720px;width:16px;height:16px;}
.icon-announcement-24{background-position:-504px -848px;width:24px;height:24px;}
.icon-announcement-32{background-position:-256px -640px;width:32px;height:32px;}
.icon-announcement-48{background-position:-800px -192px;width:48px;height:48px;}
.icon-announcement-64{background-position:-672px -64px;width:64px;height:64px;}
.icon-announcement-96{background-position:-96px -192px;width:96px;height:96px;}
.icon-arrow-down-16{background-position:-880px -592px;width:16px;height:16px;}
.icon-arrow-down-24{background-position:-360px -848px;width:24px;height:24px;}
.icon-arrow-down-32{background-position:-672px -640px;width:32px;height:32px;}
.icon-arrow-down-48{background-position:-800px -336px;width:48px;height:48px;}
.icon-arrow-down-64{background-position:-736px 0px;width:64px;height:64px;}
.icon-arrow-down-96{background-position:-288px 0px;width:96px;height:96px;}
.icon-arrow-left-16{background-position:-880px -144px;width:16px;height:16px;}
.icon-arrow-left-24{background-position:-144px -848px;width:24px;height:24px;}
.icon-arrow-left-32{background-position:-848px -816px;width:32px;height:32px;}
.icon-arrow-left-48{background-position:-800px -576px;width:48px;height:48px;}
.icon-arrow-left-64{background-position:-320px -576px;width:64px;height:64px;}
.icon-arrow-left-96{background-position:0px -288px;width:96px;height:96px;}
.icon-arrow-right-16{background-position:-880px -336px;width:16px;height:16px;}
.icon-arrow-right-24{background-position:0px -848px;width:24px;height:24px;}
.icon-arrow-right-32{background-position:-848px -624px;width:32px;height:32px;}
.icon-arrow-right-48{background-position:-48px -800px;width:48px;height:48px;}
.icon-arrow-right-64{background-position:-672px -320px;width:64px;height:64px;}
.icon-arrow-right-96{background-position:-192px -288px;width:96px;height:96px;}
.icon-arrow-up-16{background-position:-880px -160px;width:16px;height:16px;}
.icon-arrow-up-24{background-position:-816px -848px;width:24px;height:24px;}
.icon-arrow-up-32{background-position:-848px -496px;width:32px;height:32px;}
.icon-arrow-up-48{background-position:-288px -800px;width:48px;height:48px;}
.icon-arrow-up-64{background-position:-320px -672px;width:64px;height:64px;}
.icon-arrow-up-96{background-position:-384px -96px;width:96px;height:96px;}
.icon-bell-16{background-position:-880px -128px;width:16px;height:16px;}
.icon-bell-24{background-position:-600px -848px;width:24px;height:24px;}
.icon-bell-32{background-position:-848px -304px;width:32px;height:32px;}
.icon-bell-48{background-position:-528px -800px;width:48px;height:48px;}
.icon-bell-64{background-position:-736px -256px;width:64px;height:64px;}
.icon-bell-96{background-position:-384px -288px;width:96px;height:96px;}
.icon-calendar-16{background-position:-880px -576px;width:16px;height:16px;}
.icon-calendar-24{background-position:-264px -848px;width:24px;height:24px;}
.icon-calendar-32{background-position:-848px -176px;width:32px;height:32px;}
.icon-calendar-48{background-position:-768px -800px;width:48px;height:48px;}
.icon-calendar-64{background-position:-192px -736px;width:64px;height:64px;}
.icon-calendar-96{background-position:0px 0px;width:96px;height:96px;}
.icon-chatbubble-16{background-position:-880px -256px;width:16px;height:16px;}
.icon-chatbubble-24{background-position:-840px -848px;width:24px;height:24px;}
.icon-chatbubble-32{background-position:-848px -144px;width:32px;height:32px;}
.icon-chatbubble-48{background-position:-672px -800px;width:48px;height:48px;}
.icon-chatbubble-64{background-position:-448px -576px;width:64px;height:64px;}
.icon-chatbubble-96{background-position:-384px -384px;width:96px;height:96px;}
.icon-checked-16{background-position:-880px -704px;width:16px;height:16px;}
.icon-checked-24{background-position:-744px -848px;width:24px;height:24px;}
.icon-checked-32{background-position:-848px -272px;width:32px;height:32px;}
.icon-checked-48{background-position:-384px -800px;width:48px;height:48px;}
.icon-checked-64{background-position:-672px -128px;width:64px;height:64px;}
.icon-checked-96{background-position:-480px -192px;width:96px;height:96px;}
.icon-compact-16{background-position:-880px -304px;width:16px;height:16px;}
.icon-compact-24{background-position:-432px -848px;width:24px;height:24px;}
.icon-compact-32{background-position:-848px -464px;width:32px;height:32px;}
.icon-compact-48{background-position:-192px -800px;width:48px;height:48px;}
.icon-compact-64{background-position:-672px -448px;width:64px;height:64px;}
.icon-compact-96{background-position:-480px -384px;width:96px;height:96px;}
.icon-config-16{background-position:-880px -688px;width:16px;height:16px;}
.icon-config-24{background-position:-816px -824px;width:24px;height:24px;}
.icon-config-32{background-position:-848px -592px;width:32px;height:32px;}
.icon-config-48{background-position:-800px -672px;width:48px;height:48px;}
.icon-config-64{background-position:-128px -672px;width:64px;height:64px;}
.icon-config-96{background-position:-192px -480px;width:96px;height:96px;}
.icon-create-16{background-position:-880px -192px;width:16px;height:16px;}
.icon-create-24{background-position:-624px -848px;width:24px;height:24px;}
.icon-create-32{background-position:-848px -784px;width:32px;height:32px;}
.icon-create-48{background-position:-800px -480px;width:48px;height:48px;}
.icon-create-64{background-position:-448px -672px;width:64px;height:64px;}
.icon-create-96{background-position:-384px -480px;width:96px;height:96px;}
.icon-decrease-16{background-position:-880px -480px;width:16px;height:16px;}
.icon-decrease-24{background-position:-704px -672px;width:24px;height:24px;}
.icon-decrease-32{background-position:-768px -704px;width:32px;height:32px;}
.icon-decrease-48{background-position:-800px -144px;width:48px;height:48px;}
.icon-decrease-64{background-position:-736px -64px;width:64px;height:64px;}
.icon-decrease-96{background-position:-576px -96px;width:96px;height:96px;}
.icon-delete-16{background-position:-880px -112px;width:16px;height:16px;}
.icon-delete-24{background-position:-216px -848px;width:24px;height:24px;}
.icon-delete-32{background-position:-320px -640px;width:32px;height:32px;}
.icon-delete-48{background-position:-752px -736px;width:48px;height:48px;}
.icon-delete-64{background-position:-736px -384px;width:64px;height:64px;}
.icon-delete-96{background-position:-576px -288px;width:96px;height:96px;}
.icon-down-16{background-position:-880px -288px;width:16px;height:16px;}
.icon-down-24{background-position:-96px -848px;width:24px;height:24px;}
.icon-down-32{background-position:-448px -640px;width:32px;height:32px;}
.icon-down-48{background-position:-464px -736px;width:48px;height:48px;}
.icon-down-64{background-position:0px -736px;width:64px;height:64px;}
.icon-down-96{background-position:0px -576px;width:96px;height:96px;}
.icon-edit-16{background-position:-880px -528px;width:16px;height:16px;}
.icon-edit-24{background-position:-696px -848px;width:24px;height:24px;}
.icon-edit-32{background-position:-544px -640px;width:32px;height:32px;}
.icon-edit-48{background-position:-320px -736px;width:48px;height:48px;}
.icon-edit-64{background-position:-256px -736px;width:64px;height:64px;}
.icon-edit-96{background-position:-96px -576px;width:96px;height:96px;}
.icon-expand-16{background-position:-880px -48px;width:16px;height:16px;}
.icon-expand-24{background-position:-456px -848px;width:24px;height:24px;}
.icon-expand-32{background-position:-848px -80px;width:32px;height:32px;}
.icon-expand-48{background-position:-416px -736px;width:48px;height:48px;}
.icon-expand-64{background-position:-128px -736px;width:64px;height:64px;}
.icon-expand-96{background-position:-576px -480px;width:96px;height:96px;}
.icon-export-16{background-position:-880px -240px;width:16px;height:16px;}
.icon-export-24{background-position:-336px -848px;width:24px;height:24px;}
.icon-export-32{background-position:-480px -640px;width:32px;height:32px;}
.icon-export-48{background-position:-560px -736px;width:48px;height:48px;}
.icon-export-64{background-position:-736px -576px;width:64px;height:64px;}
.icon-export-96{background-position:-576px -384px;width:96px;height:96px;}
.icon-graph-16{background-position:-880px -400px;width:16px;height:16px;}
.icon-graph-24{background-position:-192px -848px;width:24px;height:24px;}
.icon-graph-32{background-position:-352px -640px;width:32px;height:32px;}
.icon-graph-48{background-position:-704px -736px;width:48px;height:48px;}
.icon-graph-64{background-position:-736px -320px;width:64px;height:64px;}
.icon-graph-96{background-position:-576px -192px;width:96px;height:96px;}
.icon-home-16{background-position:-880px -624px;width:16px;height:16px;}
.icon-home-24{background-position:-648px -640px;width:24px;height:24px;}
.icon-home-32{background-position:-224px -640px;width:32px;height:32px;}
.icon-home-48{background-position:-800px -96px;width:48px;height:48px;}
.icon-home-64{background-position:-736px -192px;width:64px;height:64px;}
.icon-home-96{background-position:-576px 0px;width:96px;height:96px;}
.icon-import-16{background-position:-880px -736px;width:16px;height:16px;}
.icon-import-24{background-position:-576px -848px;width:24px;height:24px;}
.icon-import-32{background-position:-640px -576px;width:32px;height:32px;}
.icon-import-48{background-position:-800px -288px;width:48px;height:48px;}
.icon-import-64{background-position:-640px -672px;width:64px;height:64px;}
.icon-import-96{background-position:-480px -480px;width:96px;height:96px;}
.icon-increase-24{background-position:-72px -848px;width:24px;height:24px;}
.icon-increase-32{background-position:-736px -704px;width:32px;height:32px;}
.icon-increase-48{background-position:-800px -432px;width:48px;height:48px;}
.icon-increase-64{background-position:-384px -672px;width:64px;height:64px;}
.icon-increase-96{background-position:-288px -480px;width:96px;height:96px;}
.icon-info-16{background-position:-880px -416px;width:16px;height:16px;}
.icon-info-24{background-position:-384px -848px;width:24px;height:24px;}
.icon-info-32{background-position:-848px -720px;width:32px;height:32px;}
.icon-info-48{background-position:-800px -624px;width:48px;height:48px;}
.icon-info-64{background-position:-256px -672px;width:64px;height:64px;}
.icon-info-96{background-position:-96px -480px;width:96px;height:96px;}
.icon-login-16{background-position:-880px -608px;width:16px;height:16px;}
.icon-login-24{background-position:-600px -640px;width:24px;height:24px;}
.icon-login-32{background-position:-848px -688px;width:32px;height:32px;}
.icon-login-48{background-position:0px -800px;width:48px;height:48px;}
.icon-login-64{background-position:0px -672px;width:64px;height:64px;}
.icon-login-96{background-position:0px -480px;width:96px;height:96px;}
.icon-logout-16{background-position:-880px -64px;width:16px;height:16px;}
.icon-logout-24{background-position:-24px -848px;width:24px;height:24px;}
.icon-logout-32{background-position:-848px -560px;width:32px;height:32px;}
.icon-logout-48{background-position:-144px -800px;width:48px;height:48px;}
.icon-logout-64{background-position:-672px -384px;width:64px;height:64px;}
.icon-logout-96{background-position:-480px -288px;width:96px;height:96px;}
.icon-menu-16{background-position:-880px -224px;width:16px;height:16px;}
.icon-menu-24{background-position:-240px -848px;width:24px;height:24px;}
.icon-menu-32{background-position:-848px -400px;width:32px;height:32px;}
.icon-menu-48{background-position:-336px -800px;width:48px;height:48px;}
.icon-menu-64{background-position:-672px -256px;width:64px;height:64px;}
.icon-menu-96{background-position:-480px -96px;width:96px;height:96px;}
.icon-next-16{background-position:-880px -352px;width:16px;height:16px;}
.icon-next-24{background-position:-552px -848px;width:24px;height:24px;}
.icon-next-32{background-position:-848px -368px;width:32px;height:32px;}
.icon-next-48{background-position:-480px -800px;width:48px;height:48px;}
.icon-next-64{background-position:-672px 0px;width:64px;height:64px;}
.icon-next-96{background-position:-480px 0px;width:96px;height:96px;}
.icon-order-16-263{background-position:-880px -496px;width:16px;height:16px;}
.icon-order-16{background-position:-880px -512px;width:16px;height:16px;}
.icon-order-24{background-position:-792px -848px;width:24px;height:24px;}
.icon-order-32{background-position:-848px -240px;width:32px;height:32px;}
.icon-order-48{background-position:-624px -800px;width:48px;height:48px;}
.icon-order-64{background-position:-384px -576px;width:64px;height:64px;}
.icon-order-96{background-position:-288px -384px;width:96px;height:96px;}
.icon-pause-16{background-position:-880px -640px;width:16px;height:16px;}
.icon-pause-24{background-position:-816px -800px;width:24px;height:24px;}
.icon-pause-32{background-position:-848px -752px;width:32px;height:32px;}
.icon-pause-48{background-position:-848px 0px;width:48px;height:48px;}
.icon-pause-64{background-position:-256px -576px;width:64px;height:64px;}
.icon-pause-96{background-position:-96px -384px;width:96px;height:96px;}
.icon-play-16{background-position:-880px -96px;width:16px;height:16px;}
.icon-play-24{background-position:-120px -848px;width:24px;height:24px;}
.icon-play-32{background-position:-848px -112px;width:32px;height:32px;}
.icon-play-48{background-position:-720px -800px;width:48px;height:48px;}
.icon-play-64{background-position:-736px -640px;width:64px;height:64px;}
.icon-play-96{background-position:0px -384px;width:96px;height:96px;}
.icon-prev-16{background-position:-880px -208px;width:16px;height:16px;}
.icon-prev-24{background-position:-312px -848px;width:24px;height:24px;}
.icon-prev-32{background-position:-848px -208px;width:32px;height:32px;}
.icon-prev-48{background-position:-576px -800px;width:48px;height:48px;}
.icon-prev-64{background-position:-736px -128px;width:64px;height:64px;}
.icon-prev-96{background-position:-384px -192px;width:96px;height:96px;}
.icon-question-16{background-position:-880px -320px;width:16px;height:16px;}
.icon-question-24{background-position:-480px -848px;width:24px;height:24px;}
.icon-question-32{background-position:-848px -336px;width:32px;height:32px;}
.icon-question-48{background-position:-432px -800px;width:48px;height:48px;}
.icon-question-64{background-position:-576px -672px;width:64px;height:64px;}
.icon-question-96{background-position:-384px 0px;width:96px;height:96px;}
.icon-refresh-16{background-position:-880px -432px;width:16px;height:16px;}
.icon-refresh-24{background-position:-672px -848px;width:24px;height:24px;}
.icon-refresh-32{background-position:-848px -432px;width:32px;height:32px;}
.icon-refresh-48{background-position:-240px -800px;width:48px;height:48px;}
.icon-refresh-64{background-position:-64px -672px;width:64px;height:64px;}
.icon-refresh-96{background-position:-288px -288px;width:96px;height:96px;}
.icon-relate-16{background-position:-880px -544px;width:16px;height:16px;}
.icon-relate-24{background-position:-576px -640px;width:24px;height:24px;}
.icon-relate-32{background-position:-848px -528px;width:32px;height:32px;}
.icon-relate-48{background-position:-96px -800px;width:48px;height:48px;}
.icon-relate-64{background-position:-672px -192px;width:64px;height:64px;}
.icon-relate-96{background-position:-96px -288px;width:96px;height:96px;}
.icon-related-16{background-position:-880px -672px;width:16px;height:16px;}
.icon-related-24{background-position:-704px -696px;width:24px;height:24px;}
.icon-related-32{background-position:-848px -656px;width:32px;height:32px;}
.icon-related-48{background-position:-800px -720px;width:48px;height:48px;}
.icon-related-64{background-position:-576px -576px;width:64px;height:64px;}
.icon-related-96{background-position:-288px -192px;width:96px;height:96px;}
.icon-remove-16{background-position:-880px -80px;width:16px;height:16px;}
.icon-remove-24{background-position:-48px -848px;width:24px;height:24px;}
.icon-remove-32{background-position:-848px -48px;width:32px;height:32px;}
.icon-remove-48{background-position:-800px -528px;width:48px;height:48px;}
.icon-remove-64{background-position:-64px -736px;width:64px;height:64px;}
.icon-remove-96{background-position:-288px -96px;width:96px;height:96px;}
.icon-search-16{background-position:-880px -176px;width:16px;height:16px;}
.icon-search-24{background-position:-168px -848px;width:24px;height:24px;}
.icon-search-32{background-position:-800px -768px;width:32px;height:32px;}
.icon-search-48{background-position:-800px -384px;width:48px;height:48px;}
.icon-search-64{background-position:-512px -672px;width:64px;height:64px;}
.icon-search-96{background-position:-192px -192px;width:96px;height:96px;}
.icon-unrelated-16{background-position:-880px -272px;width:16px;height:16px;}
.icon-unrelated-24{background-position:-288px -848px;width:24px;height:24px;}
.icon-unrelated-32{background-position:-704px -640px;width:32px;height:32px;}
.icon-unrelated-48{background-position:-800px -240px;width:48px;height:48px;}
.icon-unrelated-64{background-position:-672px -576px;width:64px;height:64px;}
.icon-unrelated-96{background-position:0px -192px;width:96px;height:96px;}
.icon-up-16{background-position:-880px -368px;width:16px;height:16px;}
.icon-up-24{background-position:-408px -848px;width:24px;height:24px;}
.icon-up-32{background-position:-192px -640px;width:32px;height:32px;}
.icon-up-48{background-position:-800px -48px;width:48px;height:48px;}
.icon-up-64{background-position:-192px -576px;width:64px;height:64px;}
.icon-up-96{background-position:-192px -96px;width:96px;height:96px;}
.icon-user-16{background-position:-880px -464px;width:16px;height:16px;}
.icon-user-24{background-position:-528px -848px;width:24px;height:24px;}
.icon-user-32{background-position:-288px -640px;width:32px;height:32px;}
.icon-user-48{background-position:-800px 0px;width:48px;height:48px;}
.icon-user-64{background-position:-672px -512px;width:64px;height:64px;}
.icon-user-96{background-position:-96px -96px;width:96px;height:96px;}
.icon-view-16{background-position:-880px -560px;width:16px;height:16px;}
.icon-view-24{background-position:-648px -848px;width:24px;height:24px;}
.icon-view-32{background-position:-416px -640px;width:32px;height:32px;}
.icon-view-48{background-position:-608px -736px;width:48px;height:48px;}
.icon-view-64{background-position:-736px -512px;width:64px;height:64px;}
.icon-view-96{background-position:-192px -384px;width:96px;height:96px;}
.icon-wiki-16{background-position:-880px -656px;width:16px;height:16px;}
.icon-wiki-24{background-position:-768px -848px;width:24px;height:24px;}
.icon-wiki-32{background-position:-512px -640px;width:32px;height:32px;}
.icon-wiki-48{background-position:-368px -736px;width:48px;height:48px;}
.icon-wiki-64{background-position:-736px -448px;width:64px;height:64px;}
.icon-wiki-96{background-position:-96px 0px;width:96px;height:96px;}
