<!DOCTYPE html>
<html lang="en" ng-app="doc">

<head>
    <meta charset="UTF-8">
    <title>Acsset Documentation</title>
    <link rel="stylesheet" href="css/acsset.min.css">
    <link href="https://fonts.googleapis.com/css?family=Roboto:300,400,500" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/prism/1.5.1/themes/prism.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/prism/1.5.1/prism.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.8/angular.min.js"></script>
    <style>
    body {
        font-family: "roboto";
    }

    a {
        text-decoration: none;
    }
    </style>
</head>

<body class="text-default language-markup">
    <header>
    </header>
    <div class="grid-container">
        <div class="grid-row">
            <div class="grid-xs-12 grid-md-10">
                <img src="https://cloud.githubusercontent.com/assets/5289210/16626620/206d063e-4380-11e6-94c8-47b16162fa1d.png" alt="Acsset" width="250" class="margin-top-md">
                <p class="margin-top-sm margin-left-md">a lightweight CSS framework.</p>
                <h1 class="text-primary margin-top-lg weight-medium" id="gettingStarted">Getting Started</h1>
                <div class="container padding-sm bd-xs bd-solid bd-lightgray">
                    <p>General size abbreviations:</p>
                    <pre>
  xxl = extra extra large
  xl = extra large
  lg = large
  md = medium
  sm = small
  xs = extra small
  xxs = extra extra small
</pre>
                </div>
                <h1 class="text-primary margin-top-lg padding-top-lg weight-medium" id="typeScale">Color Palette</h1>
                <div class="container padding-sm bd-xs bd-solid bd-lightgray">
                    <div class="grid-row align-center">
                        <div class="grid-xs-2">
                            <div class="bg-default bd-radius-circle padding-xl inline-block"></div>
                            <p class="margin-top-xs">default</p>
                        </div>
                        <div class="grid-xs-2">
                            <div class="bg-primary bd-radius-circle padding-xl inline-block"></div>
                            <p class="margin-top-xs">primary</p>
                        </div>
                        <div class="grid-xs-2">
                            <div class="bg-secondary bd-radius-circle padding-xl inline-block"></div>
                            <p class="margin-top-xs">secondary</p>
                        </div>
                        <div class="grid-xs-2">
                            <div class="bg-white bd-radius-circle padding-xl inline-block bd-solid bd-xs bd-lightgray"></div>
                            <p class="margin-top-xs">white</p>
                        </div>
                        <div class="grid-xs-2">
                            <div class="bg-light bd-radius-circle padding-xl inline-block bd-solid bd-xs bd-lightgray"></div>
                            <p class="margin-top-xs">light</p>
                        </div>
                        <div class="grid-xs-2">
                            <div class="bg-lightgray bd-radius-circle padding-xl inline-block"></div>
                            <p class="margin-top-xs">lightgray</p>
                        </div>
                    </div>
                    <div class="grid-row align-center">
                        <div class="grid-xs-2">
                            <div class="bg-gray bd-radius-circle padding-xl inline-block"></div>
                            <p class="margin-top-xs">gray</p>
                        </div>
                        <div class="grid-xs-2">
                            <div class="bg-darkgray bd-radius-circle padding-xl inline-block"></div>
                            <p class="margin-top-xs">darkgray</p>
                        </div>
                        <div class="grid-xs-2">
                            <div class="bg-dark bd-radius-circle padding-xl inline-block"></div>
                            <p class="margin-top-xs">dark</p>
                        </div>
                        <div class="grid-xs-2">
                            <div class="bg-blue bd-radius-circle padding-xl inline-block"></div>
                            <p class="margin-top-xs">blue</p>
                        </div>
                        <div class="grid-xs-2">
                            <div class="bg-yellow bd-radius-circle padding-xl inline-block"></div>
                            <p class="margin-top-xs">yellow</p>
                        </div>
                        <div class="grid-xs-2">
                            <div class="bg-red bd-radius-circle padding-xl inline-block"></div>
                            <p class="margin-top-xs">red</p>
                        </div>
                    </div>
                </div>
                <h1 class="text-primary margin-top-lg padding-top-lg weight-medium" id="grids">Grids</h1>
                <p>General grid prefix <span class="text-white bg-secondary padding-left-xs padding-right-xs bd-radius-sm">.grid-</span></p>
                <div class="container padding-sm bd-xs bd-solid bd-lightgray">
                    <div>
                        <p>.grid-container - max-width: 1200px</p>
                        <p>.grid-container-fluid - 100% width</p>
                    </div>
                    <div class="grid-container-fluid align-center">
                        <div class="grid-row text-xs">
                            <div class="grid-xs-12">
                                <p class="bg-light padding-xs bd-xs bd-solid bd-gray">.grid-xs-12</p>
                            </div>
                        </div>
                        <div class="grid-row text-xs">
                            <div class="grid-xs-6">
                                <p class="bg-light padding-xs bd-xs bd-solid bd-gray">.grid-xs-6</p>
                            </div>
                            <div class="grid-xs-6">
                                <p class="bg-light padding-xs bd-xs bd-solid bd-gray">.grid-xs-6</p>
                            </div>
                        </div>
                        <div class="grid-row text-xs">
                            <div class="grid-xs-4">
                                <p class="bg-light padding-xs bd-xs bd-solid bd-gray">.grid-xs-4</p>
                            </div>
                            <div class="grid-xs-4">
                                <p class="bg-light padding-xs bd-xs bd-solid bd-gray">.grid-xs-4</p>
                            </div>
                            <div class="grid-xs-4">
                                <p class="bg-light padding-xs bd-xs bd-solid bd-gray">.grid-xs-4</p>
                            </div>
                        </div>
                        <div class="grid-row text-xs">
                            <div class="grid-xs-3">
                                <p class="bg-light padding-xs bd-xs bd-solid bd-gray">.grid-xs-3</p>
                            </div>
                            <div class="grid-xs-3">
                                <p class="bg-light padding-xs bd-xs bd-solid bd-gray">.grid-xs-3</p>
                            </div>
                            <div class="grid-xs-3">
                                <p class="bg-light padding-xs bd-xs bd-solid bd-gray">.grid-xs-3</p>
                            </div>
                            <div class="grid-xs-3">
                                <p class="bg-light padding-xs bd-xs bd-solid bd-gray">.grid-xs-3</p>
                            </div>
                        </div>
                        <div class="grid-row text-xs">
                            <div class="grid-xs-2">
                                <p class="bg-light padding-xs bd-xs bd-solid bd-gray">.grid-xs-2</p>
                            </div>
                            <div class="grid-xs-2">
                                <p class="bg-light padding-xs bd-xs bd-solid bd-gray">.grid-xs-2</p>
                            </div>
                            <div class="grid-xs-2">
                                <p class="bg-light padding-xs bd-xs bd-solid bd-gray">.grid-xs-2</p>
                            </div>
                            <div class="grid-xs-2">
                                <p class="bg-light padding-xs bd-xs bd-solid bd-gray">.grid-xs-2</p>
                            </div>
                            <div class="grid-xs-2">
                                <p class="bg-light padding-xs bd-xs bd-solid bd-gray">.grid-xs-2</p>
                            </div>
                            <div class="grid-xs-2">
                                <p class="bg-light padding-xs bd-xs bd-solid bd-gray">.grid-xs-2</p>
                            </div>
                        </div>
                        <div class="grid-row text-xs">
                            <div class="grid-xs-12 grid-sm-6 grid-lg-1">
                                <p class="bg-light padding-xs bd-xs bd-solid bd-gray">.grid-xs-1</p>
                            </div>
                            <div class="grid-xs-12 grid-sm-6 grid-lg-1">
                                <p class="bg-light padding-xs bd-xs bd-solid bd-gray">.grid-xs-1</p>
                            </div>
                            <div class="grid-xs-12 grid-sm-6 grid-lg-1">
                                <p class="bg-light padding-xs bd-xs bd-solid bd-gray">.grid-xs-1</p>
                            </div>
                            <div class="grid-xs-12 grid-sm-6 grid-lg-1">
                                <p class="bg-light padding-xs bd-xs bd-solid bd-gray">.grid-xs-1</p>
                            </div>
                            <div class="grid-xs-12 grid-sm-6 grid-lg-1">
                                <p class="bg-light padding-xs bd-xs bd-solid bd-gray">.grid-xs-1</p>
                            </div>
                            <div class="grid-xs-12 grid-sm-6 grid-lg-1">
                                <p class="bg-light padding-xs bd-xs bd-solid bd-gray">.grid-xs-1</p>
                            </div>
                            <div class="grid-xs-12 grid-sm-6 grid-lg-1">
                                <p class="bg-light padding-xs bd-xs bd-solid bd-gray">.grid-xs-1</p>
                            </div>
                            <div class="grid-xs-12 grid-sm-6 grid-lg-1">
                                <p class="bg-light padding-xs bd-xs bd-solid bd-gray">.grid-xs-1</p>
                            </div>
                            <div class="grid-xs-12 grid-sm-6 grid-lg-1">
                                <p class="bg-light padding-xs bd-xs bd-solid bd-gray">.grid-xs-1</p>
                            </div>
                            <div class="grid-xs-12 grid-sm-6 grid-lg-1">
                                <p class="bg-light padding-xs bd-xs bd-solid bd-gray">.grid-xs-1</p>
                            </div>
                            <div class="grid-xs-12 grid-sm-6 grid-lg-1">
                                <p class="bg-light padding-xs bd-xs bd-solid bd-gray">.grid-xs-1</p>
                            </div>
                            <div class="grid-xs-12 grid-sm-6 grid-lg-1">
                                <p class="bg-light padding-xs bd-xs bd-solid bd-gray">.grid-xs-1</p>
                            </div>
                        </div>
                    </div>
                </div>
                <pre>
<code class="highlight">&lt;div class="grid-container"&gt;
  &lt;div class="grid-row"&gt;
    &lt;div class="grid-xs-12"&gt;
      &lt;p&gt;.grid-xs-12&lt;/p&gt;
    &lt;/div&gt;
  &lt;/div&gt;
&lt;/div&gt;</code>
</pre>
                <h1 class="text-primary margin-top-lg padding-top-lg weight-medium" id="border">Border</h1>
                <p>General border prefix <span class="text-white bg-secondary padding-left-xs padding-right-xs bd-radius-sm">.bd-</span>. A border consists of its <pre>[ size ] [ style ] [ color ] [ radius ]</pre> properties.</p>
                <h2 class="weight-medium">Border Size & Side</h2>
                <div class="container padding-sm bd-xs bd-solid bd-lightgray">
                    <div class="bd-xl">.bd-xl</div>
                    <div class="bd-top-xl">.bd-top-xl</div>
                    <div class="bd-right-xl">.bd-right-xl</div>
                    <div class="bd-bottom-xl">.bd-bottom-xl</div>
                    <div class="bd-left-xl">.bd-left-xl</div>
                    <div class="bd-lg">.bd-lg</div>
                    <div class="bd-top-lg">.bd-top-lg</div>
                    <div class="bd-right-lg">.bd-right-lg</div>
                    <div class="bd-bottom-lg">.bd-bottom-lg</div>
                    <div class="bd-left-lg">.bd-left-lg</div>
                    <div class="bd-md">.bd-md</div>
                    <div class="bd-top-md">.bd-top-md</div>
                    <div class="bd-right-md">.bd-right-md</div>
                    <div class="bd-bottom-md">.bd-bottom-md</div>
                    <div class="bd-left-md">.bd-left-md</div>
                    <div class="bd-sm">.bd-sm</div>
                    <div class="bd-top-sm">.bd-top-sm</div>
                    <div class="bd-right-sm">.bd-right-sm</div>
                    <div class="bd-bottom-sm">.bd-bottom-sm</div>
                    <div class="bd-left-sm">.bd-left-sm</div>
                    <div class="bd-xs">.bd-xs</div>
                    <div class="bd-top-xs">.bd-top-xs</div>
                    <div class="bd-right-xs">.bd-right-xs</div>
                    <div class="bd-bottom-xs">.bd-bottom-xs</div>
                    <div class="bd-left-xs">.bd-left-xs</div>
                </div>
                <h2 class="weight-medium">Border Style</h2>
                <div class="container padding-sm bd-xs bd-solid bd-lightgray">
                    <div class="bd-solid">.bd-solid</div>
                    <div class="bd-top-solid">.bd-top-solid</div>
                    <div class="bd-right-solid">.bd-right-solid</div>
                    <div class="bd-bottom-solid">.bd-bottom-solid</div>
                    <div class="bd-left-solid">.bd-left-solid</div>
                    <div class="bd-dashed">.bd-dashed</div>
                    <div class="bd-top-dashed">.bd-top-dashed</div>
                    <div class="bd-right-dashed">.bd-right-dashed</div>
                    <div class="bd-bottom-dashed">.bd-bottom-dashed</div>
                    <div class="bd-left-dashed">.bd-left-dashed</div>
                    <div class="bd-dotted">.bd-dotted</div>
                    <div class="bd-top-dotted">.bd-top-dotted</div>
                    <div class="bd-right-dotted">.bd-right-dotted</div>
                    <div class="bd-bottom-dotted">.bd-bottom-dotted</div>
                    <div class="bd-left-dotted">.bd-left-dotted</div>
                </div>
                <h2 class="weight-medium">Border Color</h2>
                <div class="container padding-sm bd-xs bd-solid bd-lightgray">
                    <div class="bd-default">.bd-default</div>
                    <div class="bd-primary">.bd-primary</div>
                    <div class="bd-secondary">.bd-secondary</div>
                    <div class="bd-white">.bd-white</div>
                    <div class="bd-whitelight">.bd-whitelight</div>
                    <div class="bd-light">.bd-light</div>
                    <div class="bd-lightgray">.bd-lightgray</div>
                    <div class="bd-gray">.bd-gray</div>
                    <div class="bd-darkgray">.bd-darkgray</div>
                    <div class="bd-dark">.bd-dark</div>
                    <div class="bd-red">.bd-red</div>
                    <div class="bd-yellow">.bd-yellow</div>
                    <div class="bd-disabled">.bd-disabled</div>
                    <div class="bd-transparent">.bd-transparent</div>
                </div>
                <h2 class="weight-medium">Border Radius</h2>
                <div class="container padding-sm bd-xs bd-solid bd-lightgray">
                    <div class="grid-row">
                        <div class="grid-xs-2">
                            <div class="bg-darkgray padding-top-xl padding-bottom-xl align-center text-white text-sm bd-radius-xs">.bd-radius-xs</div>
                        </div>
                        <div class="grid-xs-2">
                            <div class="bg-darkgray padding-top-xl padding-bottom-xl align-center text-white text-sm bd-radius-sm">.bd-radius-sm</div>
                        </div>
                        <div class="grid-xs-2">
                            <div class="bg-darkgray padding-top-xl padding-bottom-xl align-center text-white text-sm bd-radius-md">.bd-radius-md</div>
                        </div>
                        <div class="grid-xs-2">
                            <div class="bg-darkgray padding-top-xl padding-bottom-xl align-center text-white text-sm bd-radius-lg">.bd-radius-lg</div>
                        </div>
                        <div class="grid-xs-2">
                            <div class="bg-darkgray padding-top-xl padding-bottom-xl align-center text-white text-sm bd-radius-xl">.bd-radius-xl</div>
                        </div>
                        <div class="grid-xs-2">
                            <div class="bg-darkgray padding-top-xl padding-bottom-xl align-center text-white text-sm bd-radius-circle">.bd-radius-circle</div>
                        </div>
                    </div>
                </div>
                <pre>
<code class="highlight">&lt;div class="bd-radius-xs"&gt;.bd-radius-xs&lt;/div&gt;
&lt;div class="bd-radius-sm"&gt;.bd-radius-sm&lt;/div&gt;
&lt;div class="bd-radius-md"&gt;.bd-radius-md&lt;/div&gt;
&lt;div class="bd-radius-lg"&gt;.bd-radius-lg&lt;/div&gt;
&lt;div class="bd-radius-xl"&gt;.bd-radius-xl&lt;/div&gt;
&lt;div class="bd-radius-circle"&gt;.bd-radius-circle&lt;/div&gt;</code>
</pre>
                <h1 class="text-primary margin-top-lg padding-top-lg weight-medium" id="typeScale">Type Scale</h1>
                <p>General text prefix <span class="text-white bg-secondary padding-left-xs padding-right-xs bd-radius-sm">.text-</span></p>
                <h2 class="weight-medium">Text Size</h2>
                <div class="container padding-sm bd-xs bd-solid bd-lightgray">
                    <p class="text-xl">.text-xl</p>
                    <p class="text-lg">.text-lg</p>
                    <p class="text-md">.text-md</p>
                    <p class="text-sm">.text-sm</p>
                    <p class="text-xs">.text-xs</p>
                    <p class="text-xxs">.text-xxs</p>
                </div>
                <div class="modifier bd-xs bd-solid bd-lightgray block padding-md">
                    <input class="bd-xs bd-solid bd-lightgray padding-sm" type="text" name="text-size" ng-model="textSizeClass" ng-init="textSizeClass = 'text-sm'">
                </div>
                <div class="output source bd-xs bd-solid bd-lightgray block padding-left-md">
                    <p class="{{textSizeClass}}">live example</p>
                </div>
                <pre>
<code class="highlight">&lt;p class="{{textSizeClass}}"&gt;live example&lt;/p&gt;</code>
</pre>
                <h2 class="weight-medium">Text Color</h2>
                <div class="container padding-sm bd-xs bd-solid bd-lightgray">
                    <p class="text-default">.text-default</p>
                    <p class="text-primary">.text-primary</p>
                    <p class="text-secondary">.text-secondary</p>
                    <p class="text-white bg-dark">.text-white</p>
                    <p class="text-whitelight">.text-whitelight</p>
                    <p class="text-light bg-dark">.text-light</p>
                    <p class="text-lightgray">.text-lightgray</p>
                    <p class="text-gray">.text-gray</p>
                    <p class="text-darkgray">.text-darkgray</p>
                    <p class="text-dark">.text-dark</p>
                    <p class="text-red">.text-red</p>
                    <p class="text-yellow">.text-yellow</p>
                    <p class="text-disabled">.text-disabled</p>
                </div>
                <pre>
<code class="highlight">&lt;p class="text-default"&gt;.text-default&lt;/p&gt;
&lt;p class="text-primary"&gt;.text-primary&lt;/p&gt;
&lt;p class="text-secondary"&gt;.text-secondary&lt;/p&gt;
&lt;p class="text-white"&gt;.text-white&lt;/p&gt;
&lt;p class="text-whitelight"&gt;.text-whitelight&lt;/p&gt;
&lt;p class="text-light"&gt;.text-light&lt;/p&gt;
&lt;p class="text-lightgray"&gt;.text-lightgray&lt;/p&gt;
&lt;p class="text-gray"&gt;.text-gray&lt;/p&gt;
&lt;p class="text-darkgray"&gt;.text-darkgray&lt;/p&gt;
&lt;p class="text-dark"&gt;.text-dark&lt;/p&gt;
&lt;p class="text-red"&gt;.text-red&lt;/p&gt;
&lt;p class="text-yellow"&gt;.text-yellow&lt;/p&gt;
&lt;p class="text-disabled"&gt;.text-disabled&lt;/p&gt;</code>
</pre>
                <h1 class="text-primary margin-top-lg padding-top-lg weight-medium" id="typography">Typography</h1>
                <div class="container padding-sm bd-xs bd-solid bd-lightgray">
                    <p class="weight-regular">.weight-regular</p>
                    <p class="weight-medium">.weight-medium</p>
                    <p class="bold">.bold</p>
                    <p class="italic">.italic</p>
                    <p class="underline">.underline</p>
                    <p class="line-through">.line-through</p>
                    <p class="uppercase">.uppercase</p>
                    <p class="lowercase">.lowercase</p>
                    <p class="ellipsis" style="width:200px;">.ellipsis - Incididunt, molestias ornare molestiae nulla per ultricies alias neque viverra sodales commodo, fermentum aute eligendi aliquid? Tenetur magnis senectus nobis libero eget quis in rerum fugiat inceptos! Esse odio consectetur fusce, illo, nullam provident ex maiores lorem facilis eaque diamlorem, recusandae aliquip accusamus fringilla proin ea curae veniam? Litora venenatis fugiat arcu? Turpis vero, dictumst? Corporis, nunc nihil donec, iusto, blanditiis commodi suscipit velit, tellus, corporis diam phasellus vitae augue! Wisi phasellus, ipsum vel. Euismod, a tincidunt explicabo, repellat perferendis.</p>
                </div>
                <pre>
<code class="highlight">&lt;p class="weight-regular"&gt;.weight-regular&lt;/p&gt;
&lt;p class="weight-medium"&gt;.weight-medium&lt;/p&gt;
&lt;p class="bold"&gt;.bold&lt;/p&gt;
&lt;p class="italic"&gt;.italic&lt;/p&gt;
&lt;p class="underline"&gt;.underline&lt;/p&gt;
&lt;p class="line-through"&gt;.line-through&lt;/p&gt;
&lt;p class="uppercase"&gt;.uppercase&lt;/p&gt;
&lt;p class="lowercase"&gt;.lowercase&lt;/p&gt;
&lt;p class="ellipsis"&gt;.ellipsis&lt;/p&gt;</code>
</pre>
                <h1 class="text-primary margin-top-lg padding-top-lg weight-medium" id="align">Align</h1>
                <p>General align prefix <span class="text-white bg-secondary padding-left-xs padding-right-xs bd-radius-sm">.align-</span></p>
                <div class="container padding-sm bd-xs bd-solid bd-lightgray">
                    <p class="align-left">.align-left</p>
                    <p class="align-center">.align-center</p>
                    <p class="align-right">.align-right</p>
                    <div>
                        <span class="inline-block text-xs align-top">.align-top</span>
                        <span class="inline-block align-texttop">.align-texttop</span>
                        <span class="inline-block text-xl align-middle">.align-middle</span>
                        <span class="inline-block align-bottom">.align-bottom</span>
                        <span class="inline-block align-textbottom">.align-textbottom</span>
                    </div>
                </div>
                <pre>
<code class="highlight">&lt;p class="align-left"&gt;.align-left&lt;/p&gt;
&lt;p class="align-center"&gt;.align-center&lt;/p&gt;
&lt;p class="align-right"&gt;.align-right&lt;/p&gt;
&lt;p class="align-top"&gt;.align-top&lt;/p&gt;
&lt;p class="align-texttop"&gt;.align-texttop&lt;/p&gt;
&lt;p class="align-middle"&gt;.align-middle&lt;/p&gt;
&lt;p class="align-bottom"&gt;.align-bottom&lt;/p&gt;
&lt;p class="align-textbottom"&gt;.align-textbottom&lt;/p&gt;</code>
</pre>
                <h1 class="text-primary margin-top-lg padding-top-lg weight-medium" id="spacing">Spacing</h1>
                <p>A <span class="text-white bg-secondary padding-left-xs padding-right-xs bd-radius-sm">.margin-</span> or <span class="text-white bg-secondary padding-left-xs padding-right-xs bd-radius-sm">.padding-</span> consists of it's <strong>side</strong> and <strong>size</strong> properties.</p>
                <div class="container padding-sm bd-xs bd-solid bd-lightgray">
                    <div class="grid-row">
                        <div class="grid-xs-12"><p class="weight-medium bd-bottom-solid bd-bottom-xs bd-lightgray margin-bottom-xs padding-bottom-xs">sizes</p></div>
                        <div class="grid-xs-2">xs</div><div class="grid-xs-10">set the margin or padding to <code>$size-xl / 6</code></div>
                        <div class="grid-xs-2">sm</div><div class="grid-xs-10">set the margin or padding to <code>$size-xl / 3</code></div>
                        <div class="grid-xs-2">md</div><div class="grid-xs-10">set the margin or padding to <code>$size-xl / 2</code></div>
                        <div class="grid-xs-2">lg</div><div class="grid-xs-10">set the margin or padding to <code>$size-xl / 1.5</code></div>
                        <div class="grid-xs-2">xl</div><div class="grid-xs-10">set the margin or padding to <code>$size-xl</code></div>
                    </div>
                    <div class="grid-row">
                        <div class="grid-xs-12"><p class="weight-medium bd-bottom-solid bd-bottom-xs bd-lightgray margin-bottom-xs padding-bottom-xs">sides</p></div>
                        <div class="grid-xs-2">top</div><div class="grid-xs-10">for classes that set <code>margin-top</code> or <code>padding-top</code></div>
                        <div class="grid-xs-2">right</div><div class="grid-xs-10">for classes that set <code>margin-right</code> or <code>padding-right</code></div>
                        <div class="grid-xs-2">bottom</div><div class="grid-xs-10">for classes that set <code>margin-bottom</code> or <code>padding-bottom</code></div>
                        <div class="grid-xs-2">left</div><div class="grid-xs-10">for classes that set <code>margin-left</code> or <code>padding-left</code></div>
                        <div class="grid-xs-2">x</div><div class="grid-xs-10">for classes that set both <code>*-left</code> and <code>*-right</code></div>
                        <div class="grid-xs-2">y</div><div class="grid-xs-10">for classes that set both <code>*-top</code> and <code>*-bottom</code></div>
                    </div>
                    <div class="grid-row">
                        <div class="grid-xs-12"><p class="weight-medium bd-bottom-solid bd-bottom-xs bd-lightgray margin-bottom-xs padding-bottom-xs">global</p></div>
                        <div class="grid-xs-2">margin-{size}, padding-{size}</div>
                        <div class="grid-xs-10">set a margin or padding on all 4 sides of the element</div>
                    </div>
                </div>
                <pre>
<code class="highlight"></code>
</pre>
                <h1 class="text-primary margin-top-lg padding-top-lg weight-medium" id="display">Display</h1>
                <div class="container padding-sm bd-xs bd-solid bd-lightgray">
                    <div class="block bd-xs bd-solid bd-lightgray bg-light padding-xs margin-bottom-lg">.block</div>
                    <div class="inline-block bd-xs bd-solid bd-lightgray bg-light padding-xs">.inline-block</div>
                    <div class="inline-block bd-xs bd-solid bd-lightgray bg-light padding-xs">.inline-block</div>
                    <div class="inline-block bd-xs bd-solid bd-lightgray bg-light padding-xs">.inline-block</div>
                    <div class="inline-block bd-xs bd-solid bd-lightgray bg-light padding-xs">.inline-block</div>
                    <div class="hidden">.hidden</div>
                    <div class="invisible">.invisible</div>
                    <div class="display-table bd-xs bd-solid bd-lightgray bg-light">
                        <div class="table-cell"><span class="padding-xs">.display-table</span>
                            <div class="display-table padding-xs">
                                <div class="table-cell bd-xs bd-solid bd-lightgray bg-white padding-xs">.table-cell</div>
                                <div class="table-cell bd-xs bd-solid bd-lightgray bg-white padding-xs">.table-cell</div>
                                <div class="table-cell bd-xs bd-solid bd-lightgray bg-white padding-xs">.table-cell</div>
                            </div>
                        </div>
                    </div>
                </div>
                <pre>
<code class="highlight">&lt;div class="block"&gt;.block&lt;/div&gt;
&lt;div class="hidden"&gt;.hidden&lt;/div&gt;
&lt;div class="invisible"&gt;.invisible&lt;/div&gt;
&lt;div class="inline-block"&gt;.inline-block&lt;/div&gt;
&lt;div class="table-cell"&gt;.table-cell&lt;/div&gt;
&lt;div class="display-table"&gt;.display-table&lt;/div&gt;</code>
</pre>
                <h1 class="text-primary margin-top-lg padding-top-lg weight-medium" id="reset">Reset</h1>
                <p>General reset prefix <span class="text-white bg-secondary padding-left-xs padding-right-xs bd-radius-sm">.clear</span></p>
                <div class="container padding-sm bd-xs bd-solid bd-lightgray">
                    <div class="grid-row">
                        <div class="grid-xs-3">
                            <div class="clear-margin">.clear-margin</div>
                        </div>
                        <div class="grid-xs-9">
                            <div class="clear-margin">{ margin: 0 !important; }</div>
                        </div>
                    </div>
                    <div class="grid-row">
                        <div class="grid-xs-3">
                            <div class="clear-padding">.clear-padding</div>
                        </div>
                        <div class="grid-xs-9">
                            <div class="clear-padding">{ padding: 0 !important; }</div>
                        </div>
                    </div>
                    <div class="grid-row">
                        <div class="grid-xs-3">
                            <div class="clear-border">.clear-border</div>
                        </div>
                        <div class="grid-xs-9">
                            <div class="clear-border">{ border: none !important; }</div>
                        </div>
                    </div>
                    <div class="grid-row">
                        <div class="grid-xs-3">
                            <div class="clear-float">.clear-float</div>
                        </div>
                        <div class="grid-xs-9">
                            <div class="clear-float">{ float: none !important; }</div>
                        </div>
                    </div>
                    <div class="grid-row">
                        <div class="grid-xs-3">
                            <div class="clear-width">.clear-width</div>
                        </div>
                        <div class="grid-xs-9">
                            <div class="clear-width">{ width: auto !important; }</div>
                        </div>
                    </div>
                    <div class="grid-row">
                        <div class="grid-xs-3">
                            <div class="clear-left">.clear-left</div>
                        </div>
                        <div class="grid-xs-9">
                            <div class="clear-left">{ clear: left; }</div>
                        </div>
                    </div>
                    <div class="grid-row">
                        <div class="grid-xs-3">
                            <div class="clear-right">.clear-right</div>
                        </div>
                        <div class="grid-xs-9">
                            <div class="clear-right">{ clear: right; }</div>
                        </div>
                    </div>
                    <div class="grid-row">
                        <div class="grid-xs-3">
                            <div class="clear-both">.clear-both</div>
                        </div>
                        <div class="grid-xs-9">
                            <div class="clear-both">{ clear: both; }</div>
                        </div>
                    </div>
                    <div class="grid-row">
                        <div class="grid-xs-3">
                            <div class="clear-line-height">.clear-line-height</div>
                        </div>
                        <div class="grid-xs-9">
                            <div class="clear-both">{ line-height: normal; }</div>
                        </div>
                    </div>
                    <div class="grid-row">
                        <div class="grid-xs-3">
                            <div class="clear-bd-radius-tl">.clear-bd-radius-tl</div>
                        </div>
                        <div class="grid-xs-9">
                            <div class="clear-both">{ border-top-left-radius: 0 !important; }</div>
                        </div>
                    </div>
                    <div class="grid-row">
                        <div class="grid-xs-3">
                            <div class="clear-bd-radius-tr">.clear-bd-radius-tr</div>
                        </div>
                        <div class="grid-xs-9">
                            <div class="clear-both">{ border-top-right-radius: 0 !important; }</div>
                        </div>
                    </div>
                    <div class="grid-row">
                        <div class="grid-xs-3">
                            <div class="clear-bd-radius-bl">.clear-bd-radius-bl</div>
                        </div>
                        <div class="grid-xs-9">
                            <div class="clear-both">{ border-bottom-left-radius: 0 !important; }</div>
                        </div>
                    </div>
                    <div class="grid-row">
                        <div class="grid-xs-3">
                            <div class="clear-bd-radius-br">.clear-bd-radius-br</div>
                        </div>
                        <div class="grid-xs-9">
                            <div class="clear-both">{ border-bottom-right-radius: 0 !important; }</div>
                        </div>
                    </div>
                </div>
                <pre>
<code class="highlight"></code>
</pre>
            </div>
            <div class="grid-sm-2 hidden-xs hidden-sm">
                <div class="fixed position-top">
                    <ul class="list">
                        <li ng-controller="listIntro">
                            <p class="weight-medium margin-bottom-xs"><a href="{{introsTitle.anchor}}" class="text-md text-primary">{{introsTitle.name}}</a></p>
                            <ul class="list margin-left-md">
                                <li class="padding-top-xs padding-bottom-xs" ng-repeat="intro in intros"><a href="{{intro.anchor}}" class="text-xs text-default weight-medium inline-block padding-top-xs padding-bottom-xs">{{intro.name}}</a></li>
                            </ul>
                        </li>
                        <li ng-controller="listGrids" class="padding-sm-sm">
                            <p class="weight-medium"><a href="{{gridsTitle.anchor}}" class="text-md text-primary">{{gridsTitle.name}}</a></p>
                        </li>
                        <li ng-controller="listBorder" class="padding-sm-sm">
                            <p class="weight-medium"><a href="{{borderTitle.anchor}}" class="text-md text-primary">{{borderTitle.name}}</a></p>
                        </li>
                        <li ng-controller="listHelpers" class="padding-sm-sm">
                            <p class="weight-medium margin-bottom-xs"><a href="{{helpersTitle.anchor}}" class="text-md text-primary">{{helpersTitle.name}}</a></p>
                            <ul class="list margin-left-md">
                                <li class="padding-top-xs padding-bottom-xs" ng-repeat="helper in helpers"><a href="{{helper.anchor}}" class="text-xs text-default weight-medium inline-block padding-top-xs padding-bottom-xs">{{helper.name}}</a></li>
                            </ul>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <script type="text/javascript">
    var app = angular.module("doc", []);

    //introduciton
    app.controller('listIntro', function($scope) {
        $scope.introsTitle = {
                name: "Introduction",
                anchor: '#Intro'
            },
            $scope.intros = [{
                name: 'Getting Started',
                anchor: '#gettingStarted'
            }];
    });

    //grids
    app.controller('listGrids', function($scope) {
        $scope.gridsTitle = {
            name: 'Grids',
            anchor: '#grids'
        }
    });

    //borders
    app.controller('listBorder', function($scope) {
        $scope.borderTitle = {
            name: 'Border',
            anchor: '#border'
        }
    });

    //helpers
    app.controller('listHelpers', function($scope) {
        $scope.helpersTitle = {
                name: "Helpers",
                anchor: '#helpers'
            },
            $scope.helpers = [{
                name: 'Type Scale',
                anchor: '#typeScale'
            }, {
                name: 'Typography',
                anchor: '#typography'
            }, {
                name: 'Align',
                anchor: '#align'
            }, {
                name: 'Spacing',
                anchor: '#spacing'
            }, {
                name: 'Display',
                anchor: '#display'
            }, {
                name: 'Reset',
                anchor: '#reset'
            }];
    });
    </script>
</body>

</html>
